
<div class="container p-4 mt-2">

    <h1>Bonjour </h1>
    <small>Voici les details de votre réservation :</small>
    <hr>

    <strong>nom:<br></strong>
    <strong>heure_debut: <br></strong>
    <strong>heure_fin: <br></strong>
    <strong>ID reservation: <br></strong>




</div>